node_modules
.next
.next-dev
.env
.env.local
.vercel
dist
coverage
npm-debug.log*
.DS_Store
tsconfig.tsbuildinfo
env variables from Netlify.notepad
Untitled.notepad
deliverables/social-campaign-30/
deliverables/proposals/
deliverables/young-learners-project-collage/
deliverables/advanced-october-email-campaign/
